body {
    margin: 0;
    padding: 0;

}

.header {
    top: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 100vw;
    background-color: #002366;
    color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li {
    cursor: pointer;
}

.nav-right {
    padding: 0.7rem 2rem;
}

.auth-btn {
    background-color: #002366;
    color: white;
    gap: 2rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
    text-size-adjust: auto;
    font-size: 1.5rem;
    font-weight: bold;
    border-style: solid;
    border-radius: 1.2rem;
    border-color: #002366;
    border-width: 0.2rem;
}

.auth-btn:hover {
    border-color: aliceblue;
}